@page
@model TinderForPets.Pages.CreateModel
@{
}

<form method="post">
	<input type="text" name="Name" asp-for="Pet.Name" placeholder="Name: "/>
	<input type="text" name="Description" asp-for="Pet.Description" placeholder="Description: " />
	<input type="text" name="Species" asp-for="Pet.Species" placeholder="Species: " />
	<input type="number" name="Age" asp-for="Pet.Age" placeholder="Age: " />
	<input type="submit" value="Gem"/>
</form>