@page
@model TinderForPets.Pages.CreateModel
@{
}

<form method="post">
	<div>
		<input type="text" name="PetName" asp-for="pet.Name" placeholder="Name: "/>
		<input type="text" name="PetDescription" asp-for="pet.Description" placeholder="Description: " />
		<input type="text" name="PetSpecies" asp-for="pet.Species" placeholder="Species: " />
		<input type="number" name="PetAge" asp-for="pet.Age" placeholder="Age: " />

		<input type="submit" value="Gem"/>


	</div>
</form>